<body>
  <p>
    <div class="category">
      <h2><%=@category.name%></h2>
      <%@category.products.each do |product|%>
        <div class="product">
          <h3><%=product.name%></h3>
          <p class="product_image"><%= image_tag(product.image.url(:med)) %></p>
          <p>Price: $<%= product.price%></p>
        </div>
      <%end%>
    </div>
  </p>
</body>
