<body>
  <p>
    <div class="category">
      <h2><%=@category.name%></h2>
      <%@category.products.each do |product|%>
        <%= render 'common/products', :product => product %>
      <%end%>
    </div>
  </p>
</body>
