<body>
  <h1><%=@category.name%></h1>
  <p>
    <div class="category">
      <h2><%=@category.name%></h2>
      <%@category.products.each do |product|%>
        <%= render 'common/product', :product => product %>
      <%end%>
    </div>
  </p>
</body>
