@import 'navigation.scss';

$main-font: 'Lato', sans-serif;
$main-font-color: #FFF;


body {
  font-family: $main-font;
  background-color: #222;
  color: $main-font-color;
}

.category {
  background-color: #333;

  h2 {
    margin: 5px;

    a {
      color: #FFF;
      text-decoration: none;

      &:hover {
         color: #999;
      }
    }
  }
}

.product {
  height: 155px;
  width: 300px;
  display: inline-block;
  background-color: #555;
  margin: 5px;

  .product_image {
    margin: 5px;
    float: right;

    img {
      border-radius: 20%;
    }
  }

  h3 {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #444;
    color: #FFF;
    font-weight: bolder;
  }

  p {
    padding: 5px;
  }
}
