@import 'navigation.scss';

$main-font: 'Lato', sans-serif;
$main-font-color: #EEE;
$link_to-text-color: #AAAACC;
$link_to-hover-color: #444466;

header {

  h1 {
    margin-left: 20px;

    a {
      color: $main-font-color;
      text-decoration: none;
    }
  }
}

body {
  font-family: $main-font;
  margin: 0px;
  background-color: #222;
  color: $main-font-color;
}

.category {
  box-shadow: 1px 1px 2px 0px #000;
  background-color: #333;
  width: fit-content;
  padding: 5px;
  margin: 10px;

  h2 {
    margin: 10px;
  }

  a {
    color: $main-font-color;
    text-decoration: none;

    &:hover {
       color: #999;
    }
  }
}

h3 {
  margin: 0px;
  padding: 5px;
  text-align: center;
  background-color: #444;
  color: $main-font-color;
  font-weight: bolder;
}

.product {
  box-shadow: 1px 1px 2px 0px #000;
  height: 155px;
  width: 300px;
  display: inline-block;
  background-color: #555;
  margin: 5px;

  .product_image {
    margin: 5px;
    float: right;

    img {
      border-radius: 20%;
    }
  }

  p {
    padding: 5px;
  }
}

.product_detail {
  height: auto;
  width: auto;
  display: inline-block;
  background-color: #555;
  margin: 5px;

  .product_image {
    margin: 5px;
    float: right;
  }

  p {
    padding: 5px;
  }
}

header {

}

.navsearch {
  float: right;
  margin:10px;
}

.search_results {
  display: block;
  width: 500px !important;

}

#searchbar {
  margin: 5px;
}

h4 {
  margin:3px;
}

.search_nav {
  a {
    color: #DDD;
    text-decoration: underline;

    &:hover {
       color: #999;
    }
  }
}

h1 {
  margin-left: 10px;
}

.minicart {
  box-shadow: 1px 1px 2px 0px #000;
  background-color: #333;
  width: fit-content;
  padding: 5px;
  margin-left: 10px;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    padding: 0px 10px 0px 10px;

    &:nth-child(even) {
     background-color: #444;
    }

    a {
      float: right;
      text-decoration: none;
    }
  }

}

.link_to_item {
  margin: 10px;
  padding: 5px;
  color: $link_to-text-color !important;
  background-color: #444444;
  border-radius: 10%;

  &:hover {background-color: $link_to-hover-color;}
}

.link_to_mini {
  margin: 0px 0px 0px 10px;
  color: $link_to-text-color !important;

  &:hover {background-color: $link_to-hover-color;}
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333;

  p {
    padding: 5px 5px 5px 10px;
    display: inline-block;
    margin: 0px 20px 0px 0px;
  }

  a {
    color: $text-color;
    text-align: center;
    text-decoration: none;

    &:hover {
       background-color: #222;
    }
  }
}
