.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  overflow: visible;

  li {
    float: left;
    a {
      display: block;
      color: #FFF;
      text-align: center;
      font-size: 1.3em;
      padding: 14px 16px;
      text-decoration: none;

      &:hover {
         background-color: #222;
      }
    }
  }
}

.dropbtn {
  color: #FFF;
  padding: 14px 16px;
  font-size: 1.3em;
  border: none;
  background-color: #333;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover {
    .dropdown-content {
      display: block;
    }

    .dropbtn {
        background-color: #222;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {background-color: #999;}
  }
}
