<% if products_in_cart.any? %>
  <div class="category">
    <h3>Products In Cart</h3>
    <% products_in_cart.each do |product| %>
      <%= product.name %> <%= link_to "Remove", remove_from_cart_product_path(product), method: :post %>
      <br />
    <% end %>
  </div>
<% end %>
